@model IEnumerable<WebApplication1.Models.ComicBook>
@{
    ViewData["Title"] = "Comic Books";
}
<h2>Comic Books</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Add New Book</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price/Day</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.PricePerDay.ToString("C")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComicBookID" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ComicBookID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>